* {
	box-sizing: border-box;
	margin: 0 auto;
	padding: 0;
}

h2 {
	margin-bottom: 3px;
}

.wrap {
	background-color: cornsilk;
	width: 1080px;
	height: auto;
	padding: 20px;
}

.chapter__main {
	margin-bottom: 10px;
	text-align: center;
}

.chapter__sub {
	margin-bottom: 10px;
}

p {
	margin-bottom: 10px;
}

b {
	color: salmon;
	font-weight: bolder;
}

ul {
	margin-top: 10px;
}

.inner_li {
	font-size: 0.8em;
	font-weight: bold;
	margin-left: 3px;
	margin-bottom: 3px;
}
.under_line {
	text-decoration: underline;
}

.chapter__imgs {
	display: block;
	width: 500px;
	height: auto;
	margin-top: 10px;
	margin-left: 0;
	margin-bottom: 10px;
}

.chapter__imgs_w100 {
	width: 100%;
	display: block;
	height: auto;
	margin-top: 10px;
	margin-left: 0;
	margin-bottom: 10px;
}
.big {
	font-weight: bold;
	font-size: 1.2rem;
	margin-bottom: 3px;
	line-break: normal;
}

.chapter__ul {
	font-weight: bold;
}
