body,
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	display: flex;
	flex-wrap: wrap;
	min-height: 980px;
}

.wrap {
	background-color: #dbe2e7;
	flex: 0.8;
	margin-left: 0;
	margin-right: 0;
	padding: 40px;
}

.navbar {
	background-color: white;
	display: flex;
	flex: 0.2;
	margin-left: 0;
	margin-right: 0;
}

.navbar ul {
	list-style: none;
}

.navbar li {
	margin-bottom: 5px;
	padding: 5px;
	text-align: left;
	width: 180px;
}

.navbar ul :hover {
	font-size: 1.3rem;
	background-color: #9ea7aa;
	border-radius: 10px;
	transition: 0.4s ease-in;
	color: white;
}

.navbar li a {
	padding-left: 5px;
	text-decoration: none;
	color: black;
	font-weight: bold;
}

svg {
	font-size: 0.8rem;
	margin-right: 5px;
}

svg:hover {
}
