body,
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	display: flex;
	flex-wrap: wrap;
}

.wrap {
	background-color: #8aacc8;
	flex: 0.8;
	margin-left: 0;
	margin-right: 0;
	padding: 40px;
}

.navbar {
	background-color: #bbdefb;
	display: flex;
	flex: 0.2;
	margin-left: 0;
	margin-right: 0;
}

.navbar ul {
	list-style: none;
}

.navbar li {
	font-size: 1.3rem;
	margin-bottom: 5px;
	border: 1px solid black;
	border-radius: 8px;
	padding: 5px;
	text-align: left;
	width: 180px;
}

.navbar ul :hover {
	font-size: 1.5rem;
	background-color: white;
	transition: 0.25s ease-in;
}

.navbar li a {
	text-decoration: none;
	color: black;
}
